* {
    margin: 0;
    padding: 0;
}

.frontpageheader {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

body, html {
    height: 80%;
    align-items: center
}

.bgimg {
    background-image: url('IMG_6922.JPG');
    /* Full-screen */
    height: 200%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
